/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------首頁-----------------------------*/
body{
	background-color: #E0E0E0;
}

.wrap{
	margin: 0 auto;
	font-family: 微軟正黑體;
}

.header{
	height: 130px;
	padding: 10px 17%;
	background-color: #AAFFEE;
}

.content{
	width: 1200px;
}

h1{
	text-align: center;	
	font-size: 68px;
	font-weight: bold;
	padding-top: 25px;
	padding-left: 10px;
	color: 	#007799;
}

.header a{
	display: block;
	float: left;
}

.header img{	
	max-width: 100px;	
}

form{
	padding-left: 25%;
	width: 960px;
}

#choose{
	margin-top: 18px;
	margin-left: 5px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #007799;
}

select{
	font-size: 16px;
	margin-top: 10px;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;
}

.submit{
	padding: 7px;
	font-size: 16px;
}

.frontPage{
	display: none;
	padding: 8px;
	margin-left: 5px;
	font-size: 16px;
}

.show ul{
	margin-top: 50px;
	padding-left: 260px;
}

.show li{
	float: left;
	margin: 8px;
	padding: 10px;
	padding-bottom: 15px;
	border: 2px solid #007799;
	text-align: center;
	width: 250px;
	height: 300px;	
	color: #008800;
	overflow: hidden;
	text-overflow: ellipsis;
}

#line{
	border-bottom: 2px dashed #007799;
	margin: 10px auto; 
}

.result_img{
	max-width: 250px;
	height: 200px;
}

.result_name {
	font-size: 18px;
	text-align: center;	
	font-weight: bold;
	margin-bottom: 10px;
}

.result_place{
	font-size: 16px;
	text-align: center;
}

.unfind{
	max-width: 30%;
	padding-top: 100px;
	padding-left: 520px;
}

/*-----------------------------首頁-----------------------------*/

/* -----------------------------圖片輪播css----------------------------- */

.slider ul, .slider li {
	margin: 0;
	padding: 0;
	list-style: none;  
}
 
a img {
	border: none;
}

.slider-img{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20%;
	width: 920px;	/* 框架圖片的寬 */
	height: 410px;	/* 框架圖片的高 */
	position: relative;
	float: left;	
}

.slider-img img{
	max-width: 100%;
	max-height: 410px;	
}

.slider-img a.prev, .slider-img a.next {
	position: absolute;
	top: 150px;
	display: block;
	width: 80px;	/* 左右鈕圖片的寬 */
	height: 50px;	/* 左右鈕圖片的高 */
	text-indent: -9999px;
}
 
.slider-img .prev {
	background: url('images/left.png') no-repeat;
	background-size:contain;
	left: 80px;
}
 
.slider-img .next {
	background: url('images/right.png') no-repeat;
	background-size:contain;
	right: 10px;
}


.slider-img .slides {
	overflow: hidden;
	position: relative;
	display: block;
	top: 10px;	
	width: 950px;	/* 框架中間區塊的寬 */
	height: 100%;	/* 框架中間區塊的高 */
}

.slides ul {
	position: absolute;
	width: 9990px;
	height: 100%;
}

.slides li {
	text-align: center;
	width: 960px;
	height: 100%;
	float: left;
}


/* -----------------------------圖片輪播css----------------------------- */


